[submodule "themes/terminal"]
	path = themes/terminal
	url = git@github.com:luk3ya0/hugo-theme-terminal.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
