[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
[submodule "themes/smoooooth"]
	path = themes/smoooooth
	url = git@github.com:luk3ya0/hugo-smoooooth.git
