{{ $class := .Attributes.class | default ""    }}
{{ $lang  := .Attributes.lang  | default .Type }}
{{ if transform.CanHighlight $lang }}
<script>
function copyPreToClipbord(button) {
  if (navigator && navigator.clipboard) {
    clipboard = navigator.clipboard;
  } else {
    const script = document.createElement("script");
    script.src =
      "https://cdnjs.cloudflare.com/ajax/libs/clipboard-polyfill/2.7.0/clipboard-polyfill.promise.js";
    script.integrity = "sha256-waClS2re9NUbXRsryKoof+F9qc1gjjIhc2eT7ZbIv94=";
    script.crossOrigin = "anonymous";
    script.onload = () => addCopyButtons(clipboard);
    document.body.appendChild(script);
  }
  
  function pbcopy(clipboard) {
    // 1. Look for pre > code elements in the DOM
    var codeBlock = button.parentElement.nextElementSibling.getElementsByTagName('pre')[0]
    clipboard.writeText(codeBlock.innerText);
  }
}
</script>
<details class='code'>
    <summary><span class="code-up">{{ $lang }}</span></summary>
    <div class='gutter'>
        <button title='Copy to clipboard' onclick='copyPreToClipbord(this)'>⎘</button>
    </div>
    <div class="org-src-container">
    {{ highlight .Inner $lang }}
    <span class="code-bottom">&nbsp;{{ $lang }}</span>
    </div>
</details>
{{else}}
<pre><code class="{{ $class }}">{{.Inner}}</code></pre>
{{end}}
