/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

body {
    font-family: "Fira Code", -apple-system;
}

body p {
    font-size: 1em !important;
}

h1, h2, h3 {
    font-size: 1em !important;
}

h1[id]::before {
    content: "* "
}

h2[id]::before {
    content: "** "
}

h3[id]::before {
    content: "*** "
}

h4[id]::before {
    content: "***** "
}

h5[id]::before {
    content: "****** "
}
