@charset "UTF-8";
/* indicate a light request */
@media (prefers-color-scheme: light) {
  #page {
    --back-light: #efefef;
    --text-dark: #181818;
    --switch-icon: "🌚";
    --switch-shadow-color: #373d4e;
    --switch-text: "dark mode?";
  }
  #theme-switch:checked ~ #page {
    --back-light: #181818;
    --text-dark: #efefef;
    --switch-icon: "🌝";
    --switch-shadow-color: #fce477;
    --switch-text: "light mode?";
  }
}
/* indicate a dark request */
@media (prefers-color-scheme: dark) {
  #theme-switch:checked ~ #page {
    --back-light: #efefef;
    --text-dark: #181818;
    --switch-icon: "🌚";
    --switch-shadow-color: #373d4e;
    --switch-text: "dark mode?";
  }
  #page {
    --back-light: #181818;
    --text-dark: #efefef;
    --switch-icon: "🌝";
    --switch-shadow-color: #fce477;
    --switch-text: "light mode?";
  }
}
/* hidden the input:checkbox */
#theme-switch {
  display: none;
}

/* fixed position for label */
#switch-label {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
}

/* pseudo before to show icon */
#switch-label::before {
  content: var(--switch-icon);
  font-size: 20px;
  transition: text-shadow 0.2s;
}

/* pseudo after to show hint text */
#switch-label::after {
  content: var(--switch-text);
  color: var(--switch-shadow-color);
  font-size: 12px;
  visibility: hidden;
  margin-left: 0.5em;
  z-index: 1;
  position: fixed;
  bottom: calc(4rem - 25px);
  left: calc(3rem - 10px);
}

/* holo */
#theme-switch:focus ~ #page #switch-label::before,
#switch-label:hover::before {
  text-shadow: 0 0 15px var(--switch-shadow-color);
}
#theme-switch:focus ~ #page #switch-label::after,
#switch-label:hover::after {
  visibility: visible;
}

/* occupy all the space */
#page {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-dark);
  background-color: var(--back-light);
  transition-property: color, background-color;
  transition-duration: 100ms;
}

